@media(max-width:1440px){
    .container{
        width: 980px;
    }
}

/*                               max-width:1024 */
@media(max-width:1024px){
    .container{
        width:740px;
    }
        /*header*/
    .nav-items{
        display:none;
    }
    .nav-icons{
        display:none;
    }
    .nav-logo{
        flex:8;
    }
    .menu-bar{
        display:block;
        flex:1;
    }
    .menu-search{
        flex:1;
    }

    /*technology*/
    .tech-content-container{
        display:flex;
    }
    .tech-left-container{
        width:55%;
    }
    .tech-right-container{
        width:40%;
    }
    /*Fashion*/
    .fashion-single-container{
        align-items: flex-start;
    }
    /*newsletter*/

    .inner-container{
        display:block;
        text-align:center;
    }
    .news-left{
        margin-bottom:10px;
    }
    .news-right{
        display:flex;
        justify-content: space-between;
    }
    .news-right input{
        width:55%;
        font-size:0.8rem;
        padding-left:4px;
        
    }
    .news-right button{
        width:40%;
        padding:0;
        font-size:0.8rem;
    }

    /*footer*/
    .footer-navbar-container{
        font-size: 0.8rem;
    }
}
/*                               max-width:768 */
@media(max-width:768px){
    .container{
        width:560px;
    }
    html{
        font-size: 15px;
    }
     /*hero*/ 
    .hero h1{
        font-size: 1.5rem;
    }
    .hero span{
        font-size: 0.8rem;
    }
    
    /*articles*/
    .article-all{
        display: block;
    }
    .article-column{
        width:100%;
        
    }
    .article-single{
        width:100%;
        margin:0;
    }
    .loadmore-container button{
        width:90%;
    }
    /*technology*/
    .tech-content-container{
        display:block;
    }
    .tech-left-container{
        width:100%;
        margin-bottom:30px;
    }
    .tech-right-container{
        width:100%;
    }

    /*Fashion*/
    .fashion-single-container{
        display:block;
    }
    .fashion-single-left-container{
        width:100%;
        margin-bottom:30px;
    }
    .fashion-single-right-container{
        width:100;
    }

    /*travel*/
    .travel-all{
        display:block;
    }
    .travel-single{
        width:100%;
    }

    /*footer*/
    .footer-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .footer-column{
        width: 50%;
    }
}
/*                               max-width:576 */
@media(max-width:576px){
    .container{
        width:90%;
    }
    html{
        font-size:13px;
    }
    .articles-section-header{
        padding:40px 0;
        text-align:center;
    }
    .article-info-container a{
        margin:0;
    }
    .article-info-container a::after {
    padding:3px;
    }
    .like-container{
        width:60px;
        height:60px;
    }
    .fashion-single-right-container{
        margin-left:0;
    }
}
/*                               max-width:320 */
@media(max-width:320px){
    .container{
        width:90%;
    }
  .gallery-container{
      display:block;
  }
  .gallery-single img{
      display:block;
  }
  .footer-container{
      display:block;
      text-align:center;
  }
  .footer-column{
      width:100%;
  }
  .footer-flex-column{
      display:block;

  }
  .footer-flex-column > a{
      display: block;
      width:100%;
  }
  .followus-container{
      justify-content: space-between;
  }
  .followus-container i{
      padding:0;
  }
  .footer-navbar-container{
    flex-direction: column-reverse;
    text-align: center;
  }
  .footer-navbar{
      margin-bottom: 20px;
  }
  .sticky-post{
      left:-6px;
  }
  .loadmore-container{
      margin:30px 0;
  }
  .newsletter-section{
      background-image: url("../img/subscribe.jpg");
      background-size: cover;
      background-position:center;
  }
  .outer-container{
      background-image: none;
      padding:0;
  }
  .inner-container{
      box-shadow: none;
      
  }
  .news-right{
      flex-direction: column;
      background-color:rgba(0, 0, 0, 0);
  }
  .news-right input{
      width:100%;
      margin-bottom:5px;
  }
  .news-right button{
      width:100%;
  }
}